p {
 font-family: "Courier New", Courier, monospace;
}

#site-title {
  font-size: 3em;
  margin: auto;
  width: 60%
}

#menu-bar {
  width: 70%;
  margin: auto;
}

.code {
  font-size: 1.25em;
  background-color: #d3cfcf;
}

.menu-bar-item {
  list-style-type: none;
  display: inline;
  margin: auto;
  width: 25%;
}
