p {
 font-family: "Courier New", Courier, monospace;
}

#site-title {
  font-size: 3em;
  margin: auto;
  width: 60%
}

.code {
  font-size: 1.25em;
  background-color: #d3cfcf;
}

.menu-bar {
  list-style-type: none;
  display: inline;
  margin: auto;
  width: 25%;
}

.link-logos {
  height: 30px;
}
