p {
 font-family: sans-serif;
}

.code {
  font-family: monospace;
  font-size: 1.25em;
  background-color: #d3cfcf;
}

.menu-bar {
  list-style-type: none;
  display: inline;
}

.link-logos {
  height: 50px;
}
